body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background: #1e1e1e;
    color: #f0f0f0;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1abc9c;
    margin-bottom: 4px;
    background: #2a2a2a;
    color: #f0f0f0;
    border-radius: 6px;
}

button {
    background: #1abc9c;
    color: white;
    padding: 10px;
    border: 1px solid #1abc9c;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 6px;
    cursor: pointer;
}

button#open-file-btn {
    padding: 10px 16px;
    background: #1590df;
    color: white;
    border-radius: 6px;
}

.delete-btn {
    background: #2a2a2a;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 6px;
}

ol {
    margin-top: 20px;
    padding-left: 1.25em;
}

li {
    margin-top: 5px;
}

a {
    color: #1abc9c;
}

.notUrl a {
    text-decoration: none;
}
